# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/local.properties

# local env files
.env
.env.local
.env.*.local

# Metro and local output
.metro-health-check*
*.log
*.out
*.bundle
expo-*.png
expo-*.xml
